{% extends "layout.html" %}
{% block content %}
	<!-- user registration form -->
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend><!-- bottom margin of 4 -->
                <!-- start of email form -->
                
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <!-- start of error message -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
				<!-- end of error message -->
				<!-- if no error then return actual form -->
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- end of email form -->
                <!-- start of password form -->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    <!-- start of error message -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
				<!-- end of error message -->
				<!-- if no error then return actual form -->
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- end of password form -->
                <!-- start of remember me -->
                <div class="form-check">
                    {{form.remember(class="form-check-input")}}
                    {{form.remember.label(class="form-check-label")}}
                    
                </div>
                <!-- end of remember me -->
                

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <!-- start of Forgot Password? -->
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
            <!-- end of Forgot Password?-->
        </form>
    </div>
    <!--end of user registration form -->
    <!-- if Already Have An Account -->
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
    <!--end of if Already Have An Account -->
{% endblock content %}


